.logInContainer form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.logInContainer .group { 
	position: relative; 
	margin-bottom: 45px; 
}

.logInContainer input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.logInContainer input:focus { outline: none; }

/* Label */

.logInContainer label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

/* active */

.logInContainer input:focus ~ label, .logInContainer input.used ~ label, .logInContainer input.hasVal ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
      -ms-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}

/* Underline */

.logInContainer .bar {
	position: relative;
	display: block;
	width: 100%;
}

.logInContainer .bar:before, .logInContainer .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	-webkit-transition: all 0.2s ease; 
	        transition: all 0.2s ease;
}

.logInContainer .bar:before { left: 50%; }

.logInContainer .bar:after { right: 50%; }

/* active */

.logInContainer input:focus ~ .bar:before, .logInContainer input:focus ~ .bar:after { width: 50%; }

/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

.logInContainer .front-page-form .register-button {
	margin-top: 15px;
	text-align: center;
	padding: 10px;
}

.logInContainer {
	display: block;
	margin: auto;
}

.logInContainer #register-form {
	display: none;
}

.logInContainer .registerFace #register-form {
	display: block;
}

.logInContainer .registerFace #log-in-form {
	display: none;
}