<div id="main-body" class="content-text">

	<h1 class="title-text">About</h1>

	<p>
		Welcome to Wish Lists!
		<br /><br />
		Wish Lists aims to help you give and receive the perfect presents! If you've used Amazon Wish Lists you have an idea of what we hope to achieve here.
		<br /><br />
		This site is structured around a 'Wish List', a Wish List is a list of present ideas. Once the list is created, it can be sent out and viewed, once someone buys a present on the list they can flag it as bought, then everyone else knows not to buy this present also (no duplicates!), well.. everyone can see the present has been bought except for the person who made the list, this way it is kept a secret.
		<br /><br />
		Unlike Amazon Wish Lists we offer the ability to add items from any site.
	</p>

	<h1 class="title-text">Contact Me</h1>

	<p>{{getFirstName()}}, we hope everything is ok. But if you need to get into contact with us, here are some links:</p>
	<p><b>Email:</b> samuelmarkrichards@gmail.com</p>

</div>