<ul class="navigation-container" role="navigation">
	<li><a ng-class="{active: getCurrentPage() === '/home'}" ng-href="#home">Home</a></li>
	<li><a ng-class="{active: getCurrentPage() === '/about'}" ng-href="#about">About</a></li>
	<li><a ng-class="{active: getCurrentPage() === '/products'}" ng-href="#products">Products</a></li>
	<li><a ng-class="{active: getCurrentPage() === '/services'}" ng-href="#services">Services</a></li>
	<li><a ng-class="{active: getCurrentPage() === '/contact'}" ng-href="#contact">Contact</a></li>
</ul>