<!doctype html>
<html lang="en" ng-app="homepageLogInCheck">
<head>
  <meta charset="utf-8">
  <title>Wish List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/logInForm.css">
</head>
<body>

	<div class="logInContainer">

		<h1 class="title-text">Welcome to Wish Lists</h1>

		<div ng-controller="logInPage">

			<div class="formContainer" ng-class="{true: 'logInFace', false: 'registerFace'}[showLoginForm]">
				<form name="log-in-form" class="front-page-form " id="log-in-form" >
					  	<div class="group">
					    	<input type="text" ng-model="username" onchange="changeLogInFormInput(this)" required>
					    	<span class="bar"></span>
					   	 	<label>Username</label>
					  	</div>
		  	            <span class="help-inline" ng-show="submitted && username.$error.required">Required</span>
					  	
					  	<div class="group">
					   	 	<input type="password" ng-model="password" onchange="changeLogInFormInput(this)" required>
					   	 	<span class="bar"></span>
					   	 	<label>Password</label>
					  	</div>
						<span class="help-inline" ng-show="submitted && password.$error.required">Required</span>

					  	<button type="submit" class="btn btn-primary btn-large button centered" ng-click="submitLogIn()">Log In</button>
					  	<div class="register-button" ng-click="toggleLogInClass()">
					  		<p>Not Registered? No worries!</p><button type="button" class="button centered">Sign Up</button>
					  	</div>
				</form>
				<form name="register-form" id="register-form" class="front-page-form">
				  	<div class="group">
				    	<input type="text" ng-model="registerUsername" onchange="changeLogInFormInput(this)" required>
				    	<span class="bar"></span>
				   	 	<label>Username</label>
				  	</div>
				  	<span class="help-inline" ng-show="submitted && registerUsername.$error.required">Required</span>

				  	<div class="group">
				   	 	<input type="email" ng-model="registerEmail" onchange="changeLogInFormInput(this)" required>
				   	 	<span class="bar"></span>
				   	 	<label>Email</label>
				  	</div>
				  	<span class="help-inline" ng-show="submitted && registerEmail.$error.required">Required</span>
				  	<span class="help-inline" ng-show="submitted && registerEmail.$error.email">Invalid email</span>
				  	
				  	<div class="group">
				   	 	<input type="password" ng-model="registerPassword" onchange="changeLogInFormInput(this)" required>
				   	 	<span class="bar"></span>
				   	 	<label>Password</label>
				  	</div>
				  	<span class="help-inline" ng-show="submitted && registerPassword.$error.required">Required</span>

				  	<button type="submit" class="btn btn-primary btn-large button centered" ng-click="submitRegister()">Register</button>  	
				  	<div class="register-button" ng-click="toggleLogInClass()">
				  		<p>If you regret your decision, you can cancel!</p><button type="button" class="button centered">Cancel</button>
				  	</div>
				</form>
			</div>
		</div>
	</div>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>

	<!-- Import Angular Modules, controllers.. etc -->
	<script src="js/app.js"></script>
	<script src="js/controllers/logInPage.js"></script>

	<!-- Custom page javascript -->
	<script src="js/docReady.js"></script>
	<script src="js/logInForm.js"></script>
</body>
</html>
